.z-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  box-shadow: none;
  transition: all .4s;
}

.z-card:hover {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
}
