.App {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.layout {
  width: 100%;
}

.layout .router {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #eee;
}

.router .header {
  font-size: 20px;
  margin-bottom: 10px;
}
