.App {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.layout {
  width: 100%;
}

.layout .router {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #eee;
}

.router .header {
  font-size: 20px;
  margin-bottom: 10px;
}

.grid-view {
  display: grid;
  grid-template-rows: repeat(6, 120px);
  grid-template-columns: repeat(6, 120px);
  background-color: #fff;
}

.grid-view .grid-cell {
  border: 1px solid #ccc;
}
